@font-face {
    font-family: normal;
    src: url(Jakarta.ttf);
}

body{
    background-color: aliceblue;
}

#face{
    width: 200px;
    border: #ffb9c8 solid 1px;
    border-radius: 500px;
    margin: 40px calc(50% - 100px) 5px; /*(half of screen - half of box width); centers box*/
}

h1, h3{
    text-align: center;
    font-weight: 300;
    font-family: normal;
    color: #ff8aa3;
}

h3{
    font-weight: 600;
}

.links{
    margin: 40px calc(50% - 190px) 30px;
}

.link{
    width: 380px;
    border: #ffb9c8 solid 1.2px;
    padding: 15px;
    margin: 35px auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: normal;
    color: #5b83c9;
}

button{
    display: block;
}

.link button{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.link:hover{ /*thickens border when hover*/
    background-color: #5b83c9;
    border: #5b83c9 solid 1.2px;
    color: aliceblue;
    cursor: pointer;
}

.link:active{ /*changes color when clicked*/
    background-color: aliceblue;
    border: #5b83c9 solid 2.5px;
    font-weight: 600;
    color: #5b83c9;
}

.media{
    margin: 20px auto 40px calc(50% - 142px);
}

.icon{
    margin: 0px 15px;
}

.icon:hover{
    width: 30px;
    cursor: pointer;
}